:root {
    /* font size */

    /* font color style */

    /* background color style */
    --baseBgColor: red;
    --mainBgColoe: blue;
    --menuBgColor: yellow;
    --selMenuBgColor: blueviolet;

    /* height */
    --headerHg: 64px;
    --menuHg: 50px;
}